In [1]:
import pandas

In [2]:
db = pandas.read_excel('../data/hela/human_db.xlsx')

In [7]:
db.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Ribosomal
0,Q96NG5,ZN558_HUMAN,reviewed,Zinc finger protein 558,ZNF558,Homo sapiens (Human),402,False
1,Q6ZN19,ZN841_HUMAN,reviewed,Zinc finger protein 841,ZNF841,Homo sapiens (Human),808,False
2,Q9UI25,YP002_HUMAN,reviewed,Putative uncharacterized protein PRO0461,PRO0461,Homo sapiens (Human),63,False
3,Q86XN6,ZN761_HUMAN,reviewed,Zinc finger protein 761,ZNF761 KIAA2033,Homo sapiens (Human),746,False
4,A8MUZ8,Z705G_HUMAN,reviewed,Putative zinc finger protein 705G,ZNF705G,Homo sapiens (Human),300,False

In [4]:
nagaraj2011 = pandas.read_excel('../data/hela/prepared/nagaraj2011.xlsx')

In [21]:
len(nagaraj2011)

8078

In [6]:
nagaraj2011c = nagaraj2011.copy()

In [23]:
def remap(df, db):
    entries = []
    
    for i,j in df.iterrows():
        if ';' in j['Entry']:
            for k in j['Entry'].split(';'):
                if k in db['Entry'].tolist():
                    if k in entries:
                        continue
                    else:
                        entries.append(k)
                        break
            else:
                entries.append('0')
        else:
            if j['Entry'] in db['Entry'].tolist():
                entries.append(j['Entry'])
            else:
                entries.append('0')
    
    entries2 = entries.copy()
    for i,j in enumerate(entries):
        if j == '0':
            if isinstance(df.iloc[i]['Gene'], str):
                if ';' in df.iloc[i]['Gene']:
                    for k in df.iloc[i]['Gene'].split(';'):
                        for m,n in db.iterrows():
                            if isinstance(n['Gene names'], str):
                                if df.iloc[i]['Gene'] in n['Gene names']:
                                    if str(n['Entry']) not in entries2:
                                        entries2[i] = str(n['Entry'])
                                        break
                else:
                    for m,n in db.iterrows():
                        if isinstance(n['Gene names'], str):
                            if df.iloc[i]['Gene'] in n['Gene names']:
                                if str(n['Entry']) not in entries2:
                                    entries2[i] = str(n['Entry'])
                                    break

    return entries2

In [45]:
nagaraj2011['Entry'] = _

In [47]:
nagaraj2011 = nagaraj2011[nagaraj2011['Entry'] != '0']

In [49]:
nagaraj2011

,Entry,Gene Ensembl,Gene,C [Copies/cell]
0,P23528,ENSG00000172757,CFL1;CFL,3.306217e+07
1,Q06830,ENSG00000117450,PRDX1;PAGA;PAGB;TDPX2,2.319624e+07
2,P09211,ENSG00000084207,GSTP1;FAEES3;GST3,2.273290e+07
3,P0C0S8,ENSG00000184348;ENSG00000184825;ENSG0000019674...,HIST1H2AH;hCG_1640359;HIST1H2AK;HIST1H2AG;HIST...,2.208308e+07
4,P10412,ENSG00000168298,HIST1H1E;hCG_1645742;H1F4,2.059140e+07
...,...,...,...,...
8073,Q7Z7M0,ENSG00000105429,MEGF8;C19orf49;EGFL4;KIAA0817,2.195436e+00
8074,Q9BZ71,ENSG00000091622,PITPNM3;NIR1,1.969187e+00
8075,Q9HCM2,ENSG00000221866,DKFZp434G0625;PLXNA4B;hCG_2014152;tcag7.327;PL...,1.858122e+00
8076,Q9NZR2,ENSG00000168702,LRP1B;LRPDIT,1.816038e+00
8077,Q7Z7A1,ENSG00000119397,CEP110;CEP1;RP11-165P4.1-002;RP11-165P4.1-003;...,2.046019e-01

In [50]:
nagaraj2011 = nagaraj2011[['Entry', 'C [Copies/cell]']]

In [52]:
nagaraj2011.to_excel('../data/hela/processed/nagaraj2011.xlsx', index=False)

In [24]:
wisniewski2012 = pandas.read_excel('../data/hela/prepared/wisniewski2012.xlsx')

In [30]:
len(wisniewski2012)

7628

In [25]:
entries_w = remap(wisniewski2012, db)

In [26]:
wisniewski2012['Entry'] = entries_w

In [27]:
wisniewski2012 = wisniewski2012[~(wisniewski2012['C [Copies/cell]'].astype(str) == '<1E+3')]

In [28]:
wisniewski2012 = wisniewski2012[wisniewski2012['Entry'] != '0']

In [29]:
wisniewski2012 = wisniewski2012[['Entry', 'C [Copies/cell]']]

In [31]:
wisniewski2012.to_excel('../data/hela/processed/wisniewski2012_processed.xlsx', index=False)

In [68]:
kulak2014 = pandas.read_excel('../data/hela/prepared/kulak2014.xlsx')

In [69]:
kulak2014

,Entry,Gene,C [Copies/cell]
0,A0AV02-5;A0AV02-3;A0AV02;A0AV02-2;F8W7X1;A0AV02-4,SLC12A8,1994.393
1,A0AV96;B7Z8Z7;A0AV96-2;D6R9D6;D6RBS9;D6REZ6,RBM47,83613.240
2,A0AVF1;A0AVF1-2;F8W724;B7Z2T3;B7Z6R6,TTC26,2161.317
3,A0AVT1;A0AVT1-2,UBA6,145507.300
4,A0JLT2;A0JLT2-2,MED19,28867.750
...,...,...,...
9672,Q9Y6X3;G8JL95,MAU2,23155.980
9673,Q9Y6X8,ZHX2,2019.255
9674,Q9Y6X9;Q9Y6X9-2,MORC2,20256.610
9675,Q9Y6Y0;A8MVR0,IVNS1ABP,108706.700
9676,Q9Y6Y8;F5H0L8;Q9Y6Y8-2,SEC23IP,98173.840

In [70]:
entries_k = remap(kulak2014, db)

In [72]:
kulak2014['Entry'] = entries_k

In [97]:
kulak2014.to_excel('../data/hela/processed/kulak2014_processed.xlsx', index=False)

In [73]:
kulak2014 = kulak2014[kulak2014['Entry'] != '0']

In [76]:
kulak2014['C [Copies/cell]'].sum() / 2800

1046362.4202988107

In [32]:
itzhak2016 = pandas.read_excel('../data/hela/prepared/itzhak2016.xlsx')

In [33]:
entries_i = remap(itzhak2016, db)

In [34]:
itzhak2016['Entry'] = entries_i

In [35]:
ithzak2016 = itzhak2016[itzhak2016['Entry'] != '0']

In [36]:
ithzak2016

       Entry     Gene  C [Copies/cell]
0     Q9BZC7    ABCA2      3223.596041
1     Q6RW13   AGTRAP    102929.880647
2     Q9P2R3   ANKFY1    219204.306664
3     Q96NW4  ANKRD27     15984.121704
4     O00203    AP3B1    373246.384256
...      ...      ...              ...
8705  O95229    ZWINT    132594.680889
8706  P98168     ZXDA     10627.813041
8707  Q2QGD7     ZXDC      3275.696320
8708  O43149    ZZEF1     26855.925330
8709  Q8IYH5     ZZZ3     36402.738729

[8511 rows x 3 columns]

In [37]:
itzhak2016.to_excel('../data/hela/processed/itzhak2016_processed.xlsx', index=False)

In [9]:
bekkerjensen2017r = pandas.read_excel('../data/hela/raw/bekker-jensen2017_raw_st3.xlsx', header=2)

In [15]:
bekkerjensen2017 = pandas.read_excel('../data/hela/prepared/bekker-jensen2017.xlsx')

In [13]:
bekkerjensen2017r = bekkerjensen2017r[bekkerjensen2017r['Protein Coding Gene (most abundant isoform/variant)'] == '+']

In [14]:
bekkerjensen2017r.to_excel('../data/hela/raw/bekker-jensen2017_raw_st3_proteincoding.xlsx', index=False)

In [16]:
entries_b = remap(bekkerjensen2017, db)

In [49]:
bekkerjensen2017['C [Copies/cell]'].sum() / 2400

1699090.388337048

In [18]:
bekkerjensen2017['Entry'] = entries_b

In [19]:
#entries_b

In [20]:
bekkerjensen2017 = bekkerjensen2017[bekkerjensen2017['Entry'] != '0']

In [21]:
bekkerjensen2017.to_excel('../data/hela/processed/bekkerjensen2017_processed.xlsx', index=False)

In [22]:
bekkerjensen2017

        Entry           Gene  C [Copies/cell]
0      P35237       SERPINB6    876049.760602
1      O75478  TADA2L;TADA2A      4364.194029
2      P35227          PCGF2      6563.467925
3      Q9Y3E1        HDGFRP3     61652.634886
4      Q9Y6F1          PARP3       888.509976
...       ...            ...              ...
12196  Q03519           TAP2     84117.810040
12197  Q9NPH0           ACP6     16340.767901
12198  Q5K4L6        SLC27A3      8811.581794
12199  O00422          SAP18    898491.918158
12200  O94856          NFASC       618.034086

[12109 rows x 3 columns]

In [1]:
range(5) - 1

TypeError: unsupported operand type(s) for -: 'range' and 'int'