### **Обработка изначальных данных для _S. cerevisiae_**

In [1]:
import pandas
from source.utils import *

In [2]:
yeast_db = pandas.read_excel('../data/yeast/yeast_db.xlsx')

In [37]:
yeast1 = pandas.read_excel('../data/yeast/prepared/peng2012_prepared.xlsx')
yeast2 = pandas.read_excel('../data/yeast/prepared/kulak2014_prepared.xlsx')
yeast3 = pandas.read_excel('../data/yeast/prepared/lahtvee2017_prepared.xlsx')
yeast4 = pandas.read_excel('../data/yeast/prepared/dibartolomeo2018_prepared.xlsx')
yeast5 = pandas.read_excel('../data/yeast/prepared/ho2018_prepared.xlsx')
yeast6 = pandas.read_excel('../data/yeast/prepared/yu2020_prepared.xlsx')
yeast7 = pandas.read_excel('../data/yeast/prepared/yu2021_prepared.xlsx')

In [38]:
yeast8 = pandas.read_excel('../data/yeast/prepared/lee2011_prepared.xlsx')
yeast9 = pandas.read_excel('../data/yeast/prepared/nagaraj2011_prepared.xlsx') 
yeast10 = pandas.read_excel('../data/yeast/prepared/thakur2011_prepared.xlsx')

In [39]:
yeast11 = pandas.read_excel('../data/yeast/prepared/degodoy2008_prepared.xlsx')

In [9]:
#for y in [yeast1, yeast2, yeast3, yeast4, yeast5, yeast6, yeast7]
yeast1['Entry'] = correct_ids(yeast1['Gene'], yeast_db.drop_duplicates('Gene'))

In [11]:
yeast1.dropna(inplace=True)

In [10]:
len(yeast1)

4401

In [12]:
len(yeast1)

4401

In [23]:
yeast1.head(10)

,Gene,Trypsin [Copies/cell],Lys-C [Copies/cell],Lys-N [Copies/cell],Entry
0,YDR382W,488024.425883,1.232567e+06,1.157457e+06,P02400
1,YOL039W,437243.551438,1.112165e+06,7.288805e+05,P05319
2,YGR209C,485500.198534,8.376466e+05,5.359207e+05,P22803
3,YOL109W,422386.791383,5.987884e+05,7.006828e+05,Q08245
4,YDL081C,103926.723844,4.542103e+05,1.045555e+06,P05318
5,YDR210W,0.000000,0.000000e+00,0.000000e+00,Q03482
6,YCR012W,408995.626389,5.023817e+05,4.252417e+05,P00560
7,YKR057W,227767.077103,1.191814e+04,9.622001e+05,P0C0V8
8,YJL136C,229193.575706,1.190100e+04,9.608169e+05,Q3E754
9,YLR043C,295487.398344,5.196891e+05,4.800697e+05,P22217

In [20]:
yeast1p = yeast1[['Entry', 'Trypsin [Copies/cell]']]

In [24]:
yeast1p = yeast1p[yeast1p['Trypsin [Copies/cell]'] != 0.0]

In [25]:
yeast1p.head(10)

     Entry  Trypsin [Copies/cell]
0   P02400          488024.425883
1   P05319          437243.551438
2   P22803          485500.198534
3   Q08245          422386.791383
4   P05318          103926.723844
6   P00560          408995.626389
7   P0C0V8          227767.077103
8   Q3E754          229193.575706
9   P22217          295487.398344
10  P38013          146975.891301

In [26]:
yeast1p.to_excel('../data/yeast/processed/peng2012_processed.xlsx', index=False)

In [27]:
yeast2_tofix = yeast2.iloc[check_ids(yeast2['Entry'], yeast_db)]

In [28]:
correct = correct_ids(yeast2_tofix['Gene'], yeast_db.drop_duplicates('Gene'))

In [29]:
yeast2['Entry'].update(correct)

In [30]:
yeast2 = yeast2.drop(correct[correct.isna()].index)

In [31]:
yeast2

       Entry       Gene  C [Copies/cell]
0     A5Z2X5  YPR010C-A     14432.948310
1     D6VTK4    YFL026W       510.002216
2     Q8TGU7  YBR126W-A      7106.758633
3     O13297    YPL228W      1561.967994
4     O13329    YDR110W       252.198678
...      ...        ...              ...
4572  Q99385    YDL128W       850.965019
4573  Q99394    YOR115C       474.349822
4574  Q9P305  YHR132W-A      1456.396121
4575  Q9URQ3    YLR316C       395.405159
4576  Q9URQ5  YCR020W-B       352.277054

[4521 rows x 3 columns]

In [32]:
yeast2p = yeast2[['Entry', 'C [Copies/cell]']]
yeast2p = yeast2p[yeast2p['C [Copies/cell]'] != 0.0]

In [33]:
yeast2p.to_excel('../data/yeast/processed/kulak2014_processed.xlsx', index=False)

In [34]:
yeast3

         Gene  Mass fractions [pg/DW]
0     YAL003W            45339.225730
1     YAL007C              908.019783
2     YAL012W            13484.191570
3     YAL014C              115.407247
4     YAL016W              863.869789
...       ...                     ...
2132  YPR185W                0.000000
2133  YPR187W              237.301738
2134  YPR189W               97.236077
2135  YPR190C                0.000000
2136  YPR191W            46417.765760

[2137 rows x 2 columns]

In [35]:
yeast3['Entry'] = correct_ids(yeast3['Gene'], yeast_db.drop_duplicates('Gene'))

In [38]:
yeast3 = yeast3.dropna()

In [39]:
yeast3['Mass'] = yeast3['Entry'].map(yeast_db.set_index('Entry')['Mass'])

C:\Users\Dynev\AppData\Local\Temp\ipykernel_11716\1561302768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeast3['Mass'] = yeast3['Entry'].map(yeast_db.set_index('Entry')['Mass'])

In [41]:
yeast3['Copies/cell'] = yeast3['Mass fractions [pg/DW]'] * 13

C:\Users\Dynev\AppData\Local\Temp\ipykernel_11716\3916285662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeast3['Copies/cell'] = yeast3['Mass fractions [pg/DW]'] * 13

In [43]:
yeast3p = yeast3[['Entry', 'Copies/cell']]
yeast3p = yeast3p[yeast3p['Copies/cell'] != 0.0]

In [44]:
yeast3p

       Entry    Copies/cell
0     P32471  589409.934490
1     P39704   11804.257183
2     P31373  175294.490410
3     P31377    1500.294212
4     P31383   11230.307260
...      ...            ...
2130  P15303   24925.266925
2131  P14020  111269.891746
2133  P20435    3084.922593
2134  P17883    1264.069003
2136  P07257  603430.954880

[1784 rows x 2 columns]

In [45]:
yeast3p.to_excel('../data/yeast/processed/lahtvee2017_processed.xlsx', index=False)

In [46]:
yeast4

       Entry       Gene  Mass fraction [g/gDW]
0     A5Z2X5  YPR010C-A           9.465050e-06
1     D6VTK4    YFL026W           2.348114e-04
2     D6W196    YNL083W           1.213851e-06
3     O13297    YPL228W           9.476233e-06
4     O13329    YDR110W           1.201069e-06
...      ...        ...                    ...
3792  Q99383    YOL123W           1.399396e-05
3793  Q99385    YDL128W           4.251201e-06
3794  Q9P305  YHR132W-A           1.170406e-06
3795  Q9URQ3    YLR316C           2.321287e-07
3796  Q9URQ5  YCR020W-B           1.632026e-06

[3797 rows x 3 columns]

In [47]:
yeast4_tofix = yeast4.iloc[check_ids(yeast4['Entry'], yeast_db)]

In [49]:
yeast4['Mass'] = yeast4['Entry'].map(yeast_db.set_index('Entry')['Mass'])

In [89]:
yeast4['Copies/cell'] = yeast4['Mass fraction [g/gDW]'] / yeast4['Mass'] * (6.022 * 10**23) * (12 * 10**(-12))

In [127]:
yeast4['Copies/cell'].sum() / 50000000

283487110257.2347

In [29]:
yeast4 = pandas.read_excel('../data/yeast/prepared/yu2020_prepared.xlsx')

In [170]:
yeast4['mol/cell'] = yeast4['Mass fraction [g/gDW]'] / yeast4['Mass']

In [31]:
yeast4_tofix = yeast4.iloc[check_ids(yeast4['Entry'], yeast_db)]

In [124]:
yeast4['mol/cell'].sum()

2.353762124354316e-05

In [120]:
yeast4

,Entry,Gene,Mass fraction [g/gDW],Mass,Copies/cell,mol/cell
0,A5Z2X5,YPR010C-A,9.465050e-06,7902,12983.719876,2.156048e-20
1,D6VTK4,YFL026W,2.348114e-04,47849,53193.620667,8.833215e-20
2,D6W196,YNL083W,1.213851e-06,55715,236.16006,3.921622e-22
3,O13297,YPL228W,9.476233e-06,61850,1660.769206,2.757837e-21
4,O13329,YDR110W,1.201069e-06,65318,199.318806,3.309844e-22
...,...,...,...,...,...,...
3792,Q99383,YOL123W,1.399396e-05,59650,2542.982801,4.222821e-21
3793,Q99385,YDL128W,4.251201e-06,44646,1032.148933,1.713964e-21
3794,Q9P305,YHR132W-A,1.170406e-06,14395,881.32929,1.463516e-21
3795,Q9URQ3,YLR316C,2.321287e-07,37107,67.808841,1.126019e-22
3796,Q9URQ5,YCR020W-B,1.632026e-06,9180,1927.071259,3.200052e-21

In [171]:
yeast4['Copies/cell'] = yeast4['mol/cell'] * 6.022 * 10**23

In [172]:
yeast4['Copies/cell'] *= 13*(10**(-12))

In [173]:
yeast4['Copies/cell'].sum()

184266621.66720203

In [174]:
yeast4p = yeast4[['Entry', 'Copies/cell']]
yeast4p = yeast4p[yeast4p['Copies/cell'] != 0.0]

In [175]:
yeast4p.to_excel('../data/yeast/processed/dibartolomeo2018_processed.xlsx', index=False)

In [104]:
yeast5['Entry'] = correct_ids(yeast5['Gene'], yeast_db.drop_duplicates('Gene'))

In [107]:
yeast5 = yeast5.dropna()

In [110]:
yeast5p = yeast5[['Entry', 'C [Copies/cell]']]
yeast5p = yeast5p[yeast5p['C [Copies/cell]'] != 0.0]

In [111]:
yeast5p.to_excel('../data/yeast/processed/ho2018_processed.xlsx', index=False)

In [73]:
yeast6p = yeast6[['Entry', 'Copies/cell']]
yeast6p = yeast6p[yeast6p['Copies/cell'] != 0.0]

In [69]:
yeast6['Copies/cell'] = yeast6['C-lim [fmol/mgDW]'] * 6.022 * 10**23

In [70]:
yeast6['Copies/cell'] *= 10**(-15)

In [71]:
yeast6['Copies/cell'] *= 13*(10**(-9))

In [72]:
yeast6['Copies/cell'].sum()

50331197.670061685

In [74]:
yeast6p.to_excel('../data/yeast/processed/yu2020_processed.xlsx', index=False)

In [154]:
yeast7['Copies/cell'] = yeast7['fmol/mgDW'] * 6.022 * 10**23

In [155]:
yeast7['Copies/cell'] *= 10**(-15)

In [156]:
yeast7['Copies/cell'] *= 13*(10**(-9))

In [157]:
yeast7['Copies/cell'].sum()

55291809.525370665

In [159]:
yeast7p = yeast7[['Entry', 'Copies/cell']]
yeast7p = yeast7p[yeast7p['Copies/cell'] != 0.0]

In [161]:
yeast7p.to_excel('../data/yeast/processed/yu2021_processed.xlsx', index=False)

In [8]:
yeast8 = yeast8.dropna()

In [6]:
yeast8['Entry'] = correct_ids(yeast8['Gene'], yeast_db.drop_duplicates('Gene'))

C:\Users\Dynev\AppData\Local\Temp\ipykernel_11040\601602550.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeast8['Entry'] = correct_ids(yeast8['Gene'], yeast_db.drop_duplicates('Gene'))

In [10]:
yeast8p = yeast8[['Entry', 'Intensity']]

In [11]:
yeast8p.to_excel('../data/yeast/processed/lee2011_processed.xlsx', index=False)

In [12]:
yeast9

         Gene     Intensity
0       Q0045    6645500000
1       Q0050     731560000
2       Q0055    4007000000
3       Q0065    1593800000
4       Q0140   13457000000
...       ...           ...
4067  YPR188C    5078300000
4068  YPR189W   55478000000
4069  YPR190C   74235000000
4070  YPR191W  145240000000
4071  YPR193C     196140000

[4072 rows x 2 columns]

In [13]:
yeast9['Entry'] = correct_ids(yeast9['Gene'], yeast_db.drop_duplicates('Gene'))

In [14]:
yeast9

         Gene     Intensity   Entry
0       Q0045    6645500000  P00401
1       Q0050     731560000  P03875
2       Q0055    4007000000  P03876
3       Q0065    1593800000  P03878
4       Q0140   13457000000  P02381
...       ...           ...     ...
4067  YPR188C    5078300000  Q06580
4068  YPR189W   55478000000  P17883
4069  YPR190C   74235000000  P32349
4070  YPR191W  145240000000  P07257
4071  YPR193C     196140000  Q06592

[4072 rows x 3 columns]

In [15]:
yeast9p = yeast9[['Entry', 'Intensity']]
yeast9p = yeast9p[yeast9p['Intensity'] != 0.0]

In [17]:
yeast9p.to_excel('../data/yeast/processed/nagaraj2011_processed.xlsx', index=False)

In [19]:
yeast10['Entry'] = correct_ids(yeast10['Gene'], yeast_db.drop_duplicates('Gene'))

In [20]:
yeast10 = yeast10.dropna()

In [22]:
yeast10p = yeast10[['Entry', 'Intensity']]
yeast10p = yeast10p[yeast10p['Intensity'] != 0.0]

In [24]:
yeast10p.to_excel('../data/yeast/processed/thakur2011_processed.xlsx', index=False)

In [26]:
yeast11

     ORF Name                                    Uniprot    Intensity
0     YJR086W                                     P18852    456620000
1     YDR103W                                     P32917       787750
2     YLR452C                              P11972;Q06207    861600000
3     YIL117C                                     P40476     84945000
4     YIL015W                                     P12630    663840000
...       ...                                        ...          ...
4028  YBR291C                              P38152;Q02507    741050000
4029  YCL067C  Q6B2C0;P01367;P01368;Q6B2C0;P01367;P01368      5064900
4030  YMR023C                              P32559;Q0PHA7    113980000
4031  YOL155C                       Q05164;Q08294;P40442    112720000
4032  YBR115C                                     P07702  12463000000

[4033 rows x 3 columns]

In [27]:
yeast11_tofix = yeast11.iloc[check_ids(yeast11['Uniprot'], yeast_db)]

In [30]:
yeast11['Entry'] = correct_ids(yeast11['ORF Name'], yeast_db.drop_duplicates('Gene'))

In [32]:
yeast11 = yeast11.dropna()

In [34]:
yeast11p = yeast11[['Entry', 'Intensity']]
yeast11p = yeast11p[yeast11p['Intensity'] != 0.0]

In [36]:
yeast11p.to_excel('../data/yeast/processed/degodoy2008_processed.xlsx', index=False)

In [63]:
res = []
for i in [yeast8, yeast9, yeast10, yeast11]:
    res.append(i[~i.iloc[:,-1].isna()])
    
res2 = []
for i in res:
    res2.append(i[i.iloc[:,-1] > 0.0])

In [64]:
for i in res2:
    print(len(i))

2324
4051
2990
4033

In [65]:
res = []
for i in [yeast1, yeast2, yeast3, yeast4, yeast5, yeast6, yeast7]:
    res.append(i[~i.iloc[:,-1].isna()])
    
res2 = []
for i in res:
    res2.append(i[i.iloc[:,-1] > 0.0])

In [67]:
for i in res2:
    print(len(i))

3819
4570
1788
3797
5391
3368
3118

In [ ]:
yeast1 = pandas.read_excel('../data/yeast/prepared/peng2012_prepared.xlsx')