In [1]:
import pandas

In [2]:
yeast_db = pandas.read_excel('../datasets/datasets_new/databases/Scerevisiae_db.xlsx')

C:\Users\Dynev\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
yeast_comb = pandas.read_excel('../datasets/datasets_new/yeast_new/yeast_raw_all.xlsx')

In [4]:
yeast_comb.head()

,Systematic Name,Standard Name,PENG,KUL,LAW,LAHT,DGD,LEE2,THAK,NAG
0,Q0045,COX1,3651.0,735.108983,NaN,NaN,55426000.0,NaN,2900000.0,1.035893e+09
1,Q0050,AI1,234.0,21.907142,NaN,NaN,4813500.0,NaN,NaN,5.973500e+07
2,Q0055,AI2,271.0,5.425417,NaN,NaN,7553800.0,NaN,NaN,NaN
3,Q0060,AI3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q0065,AI4,197.0,58.683181,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
yeast_db.head()

,Entry,Entry name,Organism,Protein names,Status,Length,Mass,Gene names (ordered locus )
0,Q02455,MLP1_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,Protein MLP1 (Myosin-like protein 1),reviewed,1875.0,"218,456",YKR095W
1,P30656,PSB5_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,Proteasome subunit beta type-5 (EC 3.4.25.1) (...,reviewed,287.0,"31,637",YPR103W
2,P47116,PTK2_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,Serine/threonine-protein kinase PTK2/STK2 (EC ...,reviewed,818.0,"91,400",YJR059W
3,P25635,PWP2_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,Periodic tryptophan protein 2 (U three protein...,reviewed,923.0,"103,983",YCR057C
4,P07259,PYR1_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,Protein URA2 [Includes: Glutamine-dependent ca...,reviewed,2214.0,"245,041",YJL130C

In [17]:
yeast_db.drop_duplicates(subset='Gene names  (ordered locus )', inplace = True)

In [18]:
yeast_comb['Entry'] = yeast_comb['Systematic Name'].map(yeast_db.set_index('Gene names  (ordered locus )')['Entry'])

In [21]:
yeast_comb[yeast_comb['Entry'].isna()]

,Systematic Name,Standard Name,PENG,KUL,LAW,LAHT,DGD,LEE2,THAK,NAG,Entry
222,YBR009C,YGL140C,NaN,159788.71750,NaN,NaN,2.055800e+09,NaN,9.966667e+07,1.320042e+10,NaN
223,YBR010W,YGL149W,NaN,25133.04236,242044.07740,NaN,3.091300e+07,NaN,3.666667e+07,6.579000e+09,NaN
327,YBR118W,YIR016W,NaN,630115.26350,NaN,NaN,3.180000e+11,NaN,6.000000e+09,1.298892e+11,NaN
1256,YDR385W,EFT2,NaN,181722.76510,219975.74470,NaN,2.630000e+11,NaN,2.750000e+09,1.020957e+11,NaN
2912,YJL138C,TIF2,NaN,196313.24310,92266.30752,NaN,2.236700e+10,NaN,4.400000e+08,3.879983e+10,NaN
3401,YKR059W,TIF1,NaN,196313.24310,92266.30752,375362.73164,NaN,1.803406e+08,4.400000e+08,3.879983e+10,NaN
4415,YNL030W,HHF2,NaN,159788.71750,NaN,NaN,NaN,5.364707e+07,9.966667e+07,1.320042e+10,NaN
4416,YNL031C,HHT2,NaN,25133.04236,242044.07740,NaN,NaN,1.387375e+07,3.666667e+07,6.579000e+09,NaN
5057,YOR133W,EFT1,NaN,181722.76510,219975.74470,NaN,NaN,8.454482e+08,2.750000e+09,1.020957e+11,NaN
5635,YPR080W,TEF1,NaN,630115.26350,NaN,825999.15411,NaN,9.043755e+08,6.000000e+09,1.298892e+11,NaN

In [22]:
for i, j in zip([222,223,327,1256,2912,3401,4415,4416,5057,5635], ['P53120', 'P53116', 'P40572', 'P32324', 0, 'P10081', 'P02309', 'P61830', 'P32324', 'P02994']):
    yeast_comb.iloc[i,-1] = j

In [16]:
len(yeast_db['Gene names  (ordered locus )'])

6730

In [23]:
yeast_comb.drop(2912, inplace = True)

In [28]:
yeast_comb.drop_duplicates(subset='Entry', inplace = True)

In [42]:
yeast_dbr = pandas.read_excel('../datasets/datasets_new/databases/Scerevisae_dbr2.xlsx')

In [43]:
yeast_dbr.head()

,Entry,Entry name,Organism,Protein names,Status,Length,Mass,Gene names (ordered locus )
0,O13516,RS9A_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,40S ribosomal protein S9-A (RP21) (S13) (Small...,reviewed,197,"22,443",YPL081W
1,P46654,RSSA2_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,40S ribosomal protein S0-B (Nucleic acid-bindi...,reviewed,252,"27,962",YLR048W
2,P0CX83,RL19B_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,60S ribosomal protein L19-B (L23) (Large ribos...,reviewed,189,"21,704",YBL027W
3,P0CX43,RL1A_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,60S ribosomal protein L1-A (L10a) (Large ribos...,reviewed,217,"24,486",YPL220W
4,P25443,RS2_YEAST,Saccharomyces cerevisiae (strain ATCC 204508 /...,40S ribosomal protein S2 (Omnipotent suppresso...,reviewed,254,"27,450",YGL123W

In [44]:
yeast_comb['Ribosomal'] = yeast_comb['Entry'].isin(yeast_dbr['Entry'].tolist())

In [45]:
len(yeast_comb[yeast_comb['Ribosomal']])

138

In [46]:
len(yeast_dbr)

138

In [47]:
yeast_comb.to_excel('../datasets/datasets_new/yeast_new/yeast_proc2.xlsx', index=False)

In [48]:
yeast_db['Mass'] = yeast_db['Mass'].str.replace(',', '').astype(float)

AttributeError: Can only use .str accessor with string values!

In [39]:
yeast_comb['Mass'] = yeast_comb['Entry'].map(yeast_db.set_index('Entry')['Mass'])

In [40]:
yeast_comb

,Systematic Name,Standard Name,PENG,KUL,LAW,LAHT,DGD,LEE2,THAK,NAG,Entry,Ribosomal,Mass
0,Q0045,COX1,3651.0,735.108983,NaN,NaN,55426000.0,NaN,2900000.0,1.035893e+09,P00401,False,58798.0
1,Q0050,AI1,234.0,21.907142,NaN,NaN,4813500.0,NaN,NaN,5.973500e+07,P03875,False,96079.0
2,Q0055,AI2,271.0,5.425417,NaN,NaN,7553800.0,NaN,NaN,NaN,P03876,False,98008.0
3,Q0060,AI3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P03877,False,47917.0
4,Q0065,AI4,197.0,58.683181,NaN,NaN,NaN,NaN,NaN,NaN,P03878,False,63311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5743,YPR200C,ARR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q06597,False,14883.0
5744,YPR201W,ARR3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q06598,False,45848.0
5745,YPR202W,YPR202W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q08993,False,27858.0
5746,YPR203W,YPR203W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q08994,False,11766.0
5747,YPR204W,YPR204W,NaN,106.968771,NaN,NaN,NaN,NaN,70000.0,NaN,Q08995,False,115156.0